<%= render "menu" %>

<p>
  <strong>Title:</strong>
  <%= @article.title %> 
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %> 
</p>

<% if @article.comments.count > 0  %>
  <h2>Comments</h2>
  <% @article.comments.each do |c| %>
    <strong><%= c.user %></strong> <%= c.created_at %>
    <p><%= c.body %></p>
    <p>
      <%= link_to 'Delete', [c.article, c], method: :delete %>
    </p>
  <% end %>
<% end %>

<h2>Add comment:</h2>
<%= form_for ([@article,@article.comments.build]) do |f| %>
  <p>
    <%= f.label :user %>
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
